<h1>Reestrablecer contraseña</h1>

<p>Bienvenido a TallerRabrapo, pinche en el enlace a continuación para reestrablecer su contraseña:</p>

<%= link_to "Nueva contraseña", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>
  Este enlace expirará en dos horas.
</p>
<p>
  Si usted no solicitó una contraseña nueva, por favor elimine este correo.
</p>
