<h1>TallerRabrapo</h1>
<p>Hola <%= @user.name %>,</p>
<p>Bienvenido a TallerRabrapo, pinche en el enlace a continuación para
  reestrablecer su contraseña:</p>

<%= link_to "Activar", edit_activacion_cuenta_url(@user.activation_token, email: @user.email) %>
