<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-sm-4 offset-sm-1">
    <section class="user_info">
      <h1>
        <%= imagen_gravatar @user %>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
</div>
