<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h5 class="alert-heading">Errores encontrados:</h5>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
